@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/HelveticaLTStd-Light.woff')
  url('../fonts/HelveticaLTStd-Light.woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
font-family: 'Helvetica';
src: url('../fonts/HelveticaLTStd-Roman.woff')
    url('../fonts/HelveticaLTStd-Roman.woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/HelveticaLTStd-Bold.woff')
       url('../fonts/HelveticaLTStd-Bold.woff2');
       font-weight: 800;
       font-style: normal;
}